.tabsContainer {
  display: flex;
  border-bottom: 1px solid #282828;
  margin-bottom: 1.5rem;
}

.tab {
  background: none;
  border: none;
  color: #b3b3b3;
  padding: 1rem 0.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  transition: color 0.2s ease-in-out;
}

.tab:hover {
  color: #ffffff;
}

.tab.active {
  color: #ffffff;
}

/* Linha indicadora da aba ativa */
.tab.active::after {
  content: '';
  position: absolute;
  bottom: -1px; /* Alinha com a borda do container */
  left: 0;
  right: 0;
  height: 2px;
  background-color: #9f50ff; /* Cor roxa de destaque */
}